/* General sttings */
* {
  list-style: none;
  text-decoration: none;
}

/* Header */
.header {
  background: #FFFFFF;
  height: 6vh;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  margin-left: 7.5vw;
  position: relative;
}

.header #add-patient-button {
  width: 12vw;
}

.header #add-patient-button button {
  height: 100%;
  width: 100%;
  background: #138DFF;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  color: #FFFFFF;
}

.header #search-bar {
  background: #EAEAEA;
  margin-left: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header #search-bar mat-icon {
  padding-left: 1.5rem;
  color: #989FB8;
  font-size: 1.8rem;
}

.header #search-bar form {
  height: inherit;
  width: inherit;
}

.header #search-bar input {
  border: none;
  height: inherit;
  width: 90%;
  background: inherit;
  padding-left: 1.5rem;
  font-size: 1rem;
}

/* Patients Table */
.patients-table {
  margin-left: 7.5vw;
}

.patients-table #patient-title {
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.patients-table #patient-title h1 {
  color: #989FB8;
  font-size: 1.8rem;
  font-weight: normal
}

.patients-table #patient-title button {
  background: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #989FB8;
}

.patients-table #patient-title button mat-icon {
  font-size: 1.8rem;
}

.patients-table #patient-title button:hover {
  color: #138DFF;
}

.patients-table table {
  width: 100%;
  color: #000000;
  background: #FFFFFF;
  table-layout: fixed;
}

.patients-table .mat-cell {
  color: #989FB8;
  font-size: 1rem;
}

.patients-table .mat-header-cell {
  color: #989FB8;
  font-size: 1rem;
}

.mat-paginator {
  background: #FFFFFF;
  color: #989FB8;
}

.patients-table #settings {
  display: flex;
  justify-content: center;
}

.patients-table #settings mat-icon {
  margin-right: 1rem;
}
