<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>

    <!--Side menu-->
    <app-side-menu></app-side-menu>

    <!--Header-->
    <div class="header">
      <div id="add-patient-button">
        <button type="button" name="button">Adicionar paciente</button>
      </div>

      <div id="search-bar">
        <mat-icon>search</mat-icon>
        <form>
          <input type="text" placeholder="Pesquisar paciente..">
        </form>
      </div>
    </div>

    <!--Display de pacientes-->
    <div class="patients-table">
      <!--Title-->
      <div id="patient-title">
        <h1>Pacientes</h1>
        <button type="button" name="button"><mat-icon>filter_list</mat-icon></button>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.id }} </td>
        </ng-container>

        <!-- Date of Birth Column -->
        <ng-container matColumnDef="date_of_birth">
          <th mat-header-cell *matHeaderCellDef> Nascimento </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.date_of_birth }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.name }} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Idade </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.weight }} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.gender }} </td>
        </ng-container>

        <!-- Settings Column -->
        <ng-container matColumnDef="settings">
          <th mat-header-cell *matHeaderCellDef> Configurações </th>
          <td mat-cell *matCellDef="let patient">
            <div id="settings">
              <mat-icon>edit</mat-icon>
              <mat-icon style="color: #EB5757;">delete</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[12]"></mat-paginator>
  </div>
  </body>
</html>
