<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>

    <!--Side menu-->
    <app-side-menu></app-side-menu>

    <!--Header-->
    <div class="header">
      <div class="page-button">
        <button mat-raised-button class="mat-elevation-z0">Adicionar paciente</button>
      </div>
    </div>

    <!--Display de pacientes-->
    <div class="patients-table">
      <!--Title-->
      <div class="patient-title">
        <h1>Pacientes</h1>
      </div>

      <!--Actions-->
      <div class="patient-actions">
        <div class="patient-search">
          <mat-icon>search</mat-icon>
          <mat-form-field>
            <input matInput [formControl]="nameFilter" placeholder="Pesquisar paciente...">
          </mat-form-field>
        </div>

        <div class="page-button">
          <button mat-raised-button class="mat-elevation-z0" (click)="exporter.exportTable('csv')">Exportar CSV</button>
        </div>
      </div>

      <!--Table-->
      <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z0" #exporter="matTableExporter">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.id }} </td>
        </ng-container>

        <!-- Date of Birth Column -->
        <ng-container matColumnDef="date_of_birth">
          <th mat-header-cell *matHeaderCellDef> Nascimento </th>
          <td mat-cell *matCellDef="let patient"> {{ formatDateOfBirth(patient.date_of_birth) }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.name }} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Idade </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.age }} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.gender }} </td>
        </ng-container>

        <!-- Settings Column -->
        <ng-container matColumnDef="settings">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let patient">
            <div id="actions">
              <mat-icon>edit</mat-icon>
              <mat-icon style="color: #EB5757;">delete</mat-icon>
              <a [routerLink]="['/patient', patient.id]"><mat-icon>open_in_new</mat-icon></a>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[12]" [showFirstLastButtons]="true"></mat-paginator>
    </div>

  </body>
</html>
