<mat-drawer-container class="side-menu mat-typography">
	<mat-drawer #drawer mode="side" disableClose="true" opened="true">
		<mat-nav-list>
			<mat-list-item routerLink="/dashboard">
        <mat-icon aria-hidden="false">home</mat-icon>
        <h4>Dashboard</h4>
      </mat-list-item>

			<mat-list-item routerLink="/dashboard">
				<mat-icon>assignment</mat-icon>
				<h4>Registros</h4>
			</mat-list-item>

			<mat-list-item routerLink="/dashboard">
				<mat-icon> chat_bubble </mat-icon>
				<h4>Mensagens</h4>
			</mat-list-item>

			<mat-list-item routerLink="/dashboard" class="exit">
				<mat-icon style="color: #EB5757;">exit_to_app</mat-icon>
				<h4>Sair</h4>
			</mat-list-item>

		</mat-nav-list>
	</mat-drawer>
</mat-drawer-container>
