<div class="sidemenu">
  <!--Logo-->

  <!--Menu items-->
  <div id="menu-items">
    <ul>
      <li>
        <a href="/dashboard">
          <span> <mat-icon aria-hidden="false" style="color: #138DFF;">home</mat-icon> </span>
        </a>
      </li>

      <li>
        <a href="/dashboard">
          <span> <mat-icon>star_border</mat-icon> </span>
        </a>
      </li>

      <li>
        <a href="/dashboard">
          <span> <mat-icon>bookmark_border</mat-icon> </span>
        </a>
      </li>

      <li>
        <a href="/dashboard">
          <span> <mat-icon> chat_bubble_outline</mat-icon> </span>
        </a>
      </li>
    </ul>
  </div>

  <!--Exit-->
  <div id="exit-item">
    <a href="#">
      <span> <mat-icon style="color: #EB5757;">exit_to_app</mat-icon> </span>
    </a>
  </div>
</div>
