/* General sttings */
* {
  list-style: none;
  text-decoration: none;
}

.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 1rem;
  margin-right: 1rem;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

mat-drawer-container {
  background-color: #FFFFFF;
}

mat-drawer {
  background-color: #FFFFFF;
}

a:hover mat-icon, h4 {
  color: #138DFF;
}

mat-icon, h4 {
  color: #989FB8;
}

h4 {
  font-size: 1rem;
}

mat-icon {
  font-size: 1.7rem;
}

mat-list-item {
  margin-top: 0.8rem;
}

mat-nav-list {
  width: 7vw;
  overflow: hidden;
  transition: width 0.3s;
}

mat-nav-list h4 {
  opacity: 0;
}

mat-drawer:hover mat-nav-list {
  width: 180px;
}

mat-drawer:hover h4 {
  opacity: 1;
  margin: auto 1rem;
  transition: all 0.1s ease-in 0.2s;
}

.exit {
  position: absolute;
  bottom: 0;
}
