<div class="patients-table">
  <!--Title-->
  <div class="patient-title">
    <h1>Pacientes</h1>
  </div>

  <!--Actions-->
  <div class="patient-actions">
    <div class="patient-search">
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput [formControl]="nameFilter" placeholder="Pesquisar paciente...">
      </mat-form-field>
    </div>

    <div class="page-button">
      <button mat-raised-button class="mat-elevation-z0" (click)="exporter.exportTable('csv')">
        <mat-icon>get_app</mat-icon>
        Exportar CSV
      </button>
    </div>
  </div>

  <!--Table-->
  <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z0" #exporter="matTableExporter">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.id }} </td>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container matColumnDef="date_of_birth">
      <th mat-header-cell *matHeaderCellDef> Nascimento </th>
      <td mat-cell *matCellDef="let patient"> {{ formatDateOfBirth(patient.date_of_birth) }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.name }} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Idade </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.age }} </td>
    </ng-container>

    <!-- CPF Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.cpf }} </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Sexo </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.gender }} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Cor </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.color }} </td>
    </ng-container>

    <!-- Blood Type Column -->
    <ng-container matColumnDef="blood_type">
      <th mat-header-cell *matHeaderCellDef> Tipo Sanguineo </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.blood_type }} </td>
    </ng-container>

    <!-- Settings Column -->
    <ng-container matColumnDef="patient-page">
      <th mat-header-cell *matHeaderCellDef> Página do paciente </th>
      <td mat-cell *matCellDef="let patient">
        <div id="actions">
          <a [routerLink]="['/patient', patient.id]"><mat-icon>open_in_new</mat-icon></a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[12, 30, 60]" [showFirstLastButtons]="true"></mat-paginator>
</div>
